<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Footer content goes here -->
    <footer class="bg-dark text-center text-white fixed-bottom py-2 mt-2">
        <a href = "https://www.facebook.com/"><i class="bi bi-facebook mx-2" style="color:white; font-size:26px"></i></a>
        <a href = "https://wa.me/"><i class="bi bi-whatsapp mx-2" style="color:white; font-size:26px"></i></a>
        <a href = "https://twitter.com/"><i class="bi bi-twitter-x mx-2" style="color:white; font-size:26px"></i></a>
        <a href = "https://www.instagram.com/"><i class="bi bi-instagram mx-2" style="color:white; font-size:26px"></i></a>

        <div classv = "row" >
            
            
            <h6 style="color: white;">&copy;All rights reserved.</h6>

        <div>
    </footer>
 </body>
</html>